.cajaInicioSesion{
	margin-top: 0%;


}

.tituloInicioSesion{
	text-align: center;
	margin-top: 3%;

}

body {
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: 100%;
    background-image:url('../img/background.png');
   	width: 100%;
   	height: 100%;
}

.miImagen{
  min-height: 30px;
  min-width: 30px;
  max-height: 30px;
  max-width: 30px;
}

.btnInicioSesion{
  margin-right: 0;

}

.imagenAviso{
  text-align: right;
}

.btnRegistro{
  padding-left: 0%;
}


/* CLASES DE ALONSO*/
.btnAgregarStakeholder{
text-align: left;
margin-left: 2%;


}

/* REEMPLAZADOS POR BOOSTRAP-SELECTOR LIBRERIA
.dropdownCentrado{

  text-align: center; 
  left: 50% !important;
  margin-left: -84px;
  padding-top: 0%;
  padding-bottom: 0%;
}

.btnOpcion{
  width: 100%;

}*/

.indiceDiagrama{
  margin-top: 126%;
}

.ocupartodoespacio{

  width: auto;
}

.selectorNFR{
  width: 100%;
}

.well, .panel, .panel-default, .panel-footer{
      background-color: rgba(242, 242, 242, 0.42);
    border: 1px solid rgba(255, 244, 244, 0);
}

hr{
    margin-top: 13px;
    margin-bottom: 14px;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.21);
}